@font-face {
    font-family: "Gotham";
    src: url("../assets/fonts/GothamMedium.woff") format('woff');
}

body {
    margin: 0;
    font-family: "Gotham";
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

#main {
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 21fr;
    grid-template-rows: 2fr 20fr 3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    /*"menu nav"*/
      "menu content"
      "menu content"
      "controls controls";
}

#menu { 
    grid-area: menu; 
    background-color: #000000;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#branding {
    width: 130px;
    padding: 15px;
}

#branding img {
    width: 100%;
}

#menu-nav {
    margin-top: 6px;
}

.menu-nav-item {
    background-color: transparent;
    border-radius: 4px;
    padding: 12px 16px;
    color: #B3B3B3;
    font-size: 14px;
    transition: color .2s linear;
}

.menu-nav-item:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.menu-nav-item.active{
    background-color: #282828;
    color: #FFFFFF;
}

.menu-nav-item p {
    margin: auto;
}

.menu-nav-item span {
    margin-left: 16px;
}

#menu-playlist {
    margin-top: 30px;
}

#scroll-content {
    background-color: #121212;
    grid-area: content;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #FFFFFF4D;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #FFFFFF80;
}

#nav { 
    /*grid-area: nav; */
    position: sticky;
    top: 0;
    background: #070707;
    color: #FFFFFF;
    padding: .3rem 0;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav-item {
    display: flex;
}

.nav-links a {
    margin: auto;
}

.nav-links a:hover {
    transform: scale(1.05);
}

.nav-links a:active {
    transform: scale(0.95);
    font-weight: normal;
    color: #B3B3B3;
}

.nav-divider {
    width: 1px;
    height: 25px;
    background-color: #FFFFFF;
}

#nav-upgrade-btn{
    background: transparent;
    color: #FFFFFF;
    border-radius: 360px;
    font-weight: bold;
    padding: 7px 16px;
    border: 1px solid #878787;
}

#nav-upgrade-btn:hover{
    opacity: 0.7;
    transform: scale(1.05);
    border-color: #FFFFFF;
}

#nav-upgrade-btn:active{
    opacity: 0.7;
    transform: scale(0.95);
    border-color: #878787;
}

#nav-profile-btn {
    background-color: #121212;
    color: #FFFFFF;
    border: 0;
    border-radius: 360px;
    font-weight: bold;
    padding: 2px;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 10px;
}

#nav-profile-btn:hover {
    background-color: #282828;
    cursor: pointer;
}

#nav-profile-pfp {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
}

#nav-profile-pfp img{
    width: 100%;
    height: 100%;
}

#content { 
    /*grid-area: content;*/
    background-color: #121212;
    color: #FFFFFF;
    padding: 1.5rem 1rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.song-cat-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.song-cat-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.song-cat-title {
    color: #FFFFFF;
    font-size: 22px;
    margin: 0;
}

.song-cat-title a:hover {
    text-decoration: underline;
}

.song-cat-desc {
    color: #B3B3B3;
    font-size: 14px;
    margin: 0;
}

.song-cat-expand {
    color: #B3B3B3;
    font-size: 12px;
}

.song-cat-expand a:hover {
    text-decoration: underline;
}

.song-cat-list {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.song-card {
    background-color: #181818;
    border-radius: 4px;
    padding: 1rem;
    cursor: pointer;
    transition: background-color .3s ease;
}

.song-card:hover {
    background-color: #282828;
}

.song-card-img {
    box-shadow: 0 8px 8px rgba(0, 0, 0, .5);
    margin-bottom: 1rem;
}

.song-card-img img{
    width: 100%;
}

.song-card-info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
}

.song-info-title {
    font-size: .9rem;
    margin: 0;
}

.song-info-desc {
    height: 28px;
    font-size: .8rem;
    margin: 0;
    margin-top: .5rem;
    color: #B3B3B3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-card-playbtn-container {
    position: relative;
}

.song-card-playbtn {
    background-color: #1DB954;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 360px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: .6rem;
    bottom: 0rem;
    opacity: 0;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .3);
    cursor: initial;
    transition: .3s ease;
}

.song-card:hover .song-card-playbtn {
    transform: translateY(-9.6px);
    opacity: 1;
}

.song-card:hover .song-card-playbtn:hover {
    transition: none;
    transform: translateY(-9.6px) scale(1.05);
}

.song-card-playbtn a {
    cursor: inherit;
}

#controls {
    grid-area: controls;
    background: #181818;
    border-top: 1px solid #282828;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding: 0 1rem;
}
.controls-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex: 1 0;
    overflow: hidden;
}

#song-controls {
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
}

.track-controls {
    color: #B3B3B3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    flex-grow: 1;
}

.track-control-btn {
    border: 0;
    background: none;
    color: inherit;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.track-control-btn:hover {
    color: #FFFFFF;
    cursor: pointer;
}

#track-play-pause {
    border-radius: 360px;
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#track-play-pause:hover {
    transform: scale(1.05);
}

#track-play-pause:active {
    transform: scale(0.95);
}

.track-progress {
    width: 100%;
}

.track-slider {
    appearance: none;
    width: 100%;
    height: .25rem;
    border-radius: 360px;
    background-color: #535353;
}

.track-slider::-webkit-slider-thumb {
    appearance: none;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 360px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 50%);
}

.track-slider:hover {
    cursor: pointer;
}

.track-slider:hover::-webkit-slider-thumb {
    background-color: #FFFFFF;
}

#misc-controls {
    justify-content: flex-end;
}

.misc-control-item {
    color: #B3B3B3;
}

#volume-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 8rem;
}

#currently-playing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: #B3B3B3;
}

#current-song-img {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#current-song-img img {
    width: 100%;
}

.current-song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 1rem;
    gap: .25rem;
    max-width: 60%;
}

#current-song-title {
    color: #FFFFFF;
    margin: 0;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#current-song-author {
    margin: 0;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.current-song-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
}